body{
    background-image: url('../img/meadow.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 10px;
    height: 100%;
    overflow: hidden;
}

#iconimg {
    width: 50px;
}
#icontxt {
    font-family: 'Arial', 'Helvetica', 'sans-serif';
    color: white;
    text-shadow: 1px 1px #111111;
    text-align: center;

}

#draggable{
    position: absolute;
    z-index: 9;
    text-align: center;
    width: 75px;
    height: 120px;

    
}

#draggable2{
    position: absolute;
    z-index: 9;
    text-align: center;
    width: 75px;
    height: 120px;
    left: 10px;
    top: 130px;
}

#draggable3{
    position: absolute;
    z-index: 9;
    text-align: center;
    width: 75px;
    height: 120px;
    left: 10px;
    top: 250px;
}

#draggableicon{
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

#bottomdiv{
    background: linear-gradient(to bottom,rgba(74,108,211,1) 0%, rgba(100,145,227,1) 5%, rgba(62,93,214,1) 10%, rgba(62,93,214,1) 93%, rgba(53,81,192,1) 97%);
    position:fixed;
    bottom:0;
    width: 100vw;
    height: 32px;
    margin:0 -10px;
}

.bottomtext{
    font-family: 'Arial', 'Helvetica', 'sans-serif';
    color: white;
    text-shadow: 1px 1px #111111;
    position:relative;
    top:10%;
    padding-left: 20px;
    padding-right: 20px;
    cursor:pointer;
    background: linear-gradient(180deg, rgba(84,125,62,1) 2%, rgba(156,190,143,1) 6%, rgba(99,157,71,1) 13%, rgba(110,175,72,1) 91%, rgba(68,110,48,1) 98%);
    padding-top:6px;
    padding-bottom:6px;
    margin: -3px;
    width: 78px;
    font-size: 20px;
    border-radius: 0px 12px 12px 0px;
    float: left;
}
.bottomtime{
    font-family: 'Arial', 'Helvetica', 'sans-serif';
    margin: auto;
    color: white;
    text-shadow: 1px 1px #111111;
    top:25%;
    padding-right: 10px;
    float: right;
    position:relative;
}
.bottomapp{
    font-family: 'Arial', 'Helvetica', 'sans-serif';
    color: white;
    text-shadow: 1px 1px #111111;
    position:relative;
    top:15%;
    padding-left: 20px;
    padding-right: 35px;
    cursor:pointer;
    padding-top:2px;
    padding-bottom:8px;
    margin: -3px;
    width: auto;
    font-size: 16px;
    border-radius: 6px 6px 6px 6px;
    float: left;
    left: 32px;
}

#bottomapp{
    background-image: linear-gradient(180deg, rgba(83,115,198,1) 2%, rgba(37,63,147,1) 4%, rgba(55,84,175,1) 9%, rgba(53,82,179,1) 14%, rgba(53,82,179,1) 95%, rgba(61,79,161,1) 97%);
}
#draggablewindow{
    left:20vw;
    top: 5vh;
    display: block;
    position: absolute;
    z-index:11;
    border-radius: 9px 9px 0px 0px;
    background: linear-gradient(to bottom,rgba(74,108,211,1) 0px, rgba(100,145,227,1) 2px, rgba(62,93,214,1) 3px, rgba(62,93,214,1) 53px, rgba(53,81,192,1) 97px);
}

#draggablebar{
    z-index: 12;
    cursor: default;
    font-family: 'Arial', 'Helvetica', 'sans-serif';
    color: white;
    text-shadow: 1px 1px #111111;
    margin-left: 9px;
    margin-right: 9px;
    margin-top: 6px;
    margin-bottom: 6px;

}
#windowcontent{
    margin: 4px;
    padding: 20px;
    background: white;
    width: 60vw;
    height: 70vh;
    font-family: 'Arial', 'Helvetica', 'sans-serif';
    color: black;
    overflow: auto;
    min-width: 227.59px;
    min-height: 170px;
}

.closebutton{
    background: linear-gradient(to bottom,rgba(74,108,211,1) 0%, rgba(100,145,227,1) 5%, rgba(62,93,214,1) 10%, rgba(62,93,214,1) 93%, rgba(53,81,192,1) 97%);
    border: 1px solid;
    border-radius: 5px;
    color: white;
    text-align:center;
    font-size: 16px;
    cursor: pointer;
    float: right;
    width: 24px;
    height: 24px;
    margin-left: 4px;
    font-size: 12px;
}

.snowflake {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top:-10px;
}

@keyframes fall{
    from{}
    to {
        transform: translateY(100vh);
        opacity: 0;
    }
}